# Telegram Bot API token (from @BotFather)
BOT_TOKEN=

# Private chat ID with the bot (use @userinfobot to find)
CHAT_ID=

# Port for HTTP notifications server
NOTIFY_SERVER_PORT=8787

# Absolute path to store quick notes as markdown files
ROOT=/home/user/homelab-notes
